footer  
  a(name="footer")
  .footer__izquierdo 
    ul.footer__ul
      li.footer__li 
        a.footer__a(href="/") Inicio 
      li.footer__li
        a.footer__a(href="/#ultimos-post") Ultimos post
      li.footer__li 
        a.footer__a(href="/#rs") Redes sociales
      li.footer__li
        a.footer__a(href="/#publica-con-nosotros") Publica con nosotros
      li.footer__li
        a.footer__a(href="/#otras-publicaciones") Otras publicaciones
  .footer__derecho
    h3.footer__h3 Contactanos  
    form.footer__form
      input.footer__input(type="text", placeholder="Nombre", required)
      input.footer__input(type="email", placeholder="Correo", required)  
      textarea.footer__textarea(placeholder="Motivo", value="")
      input.footer__boton(type="button", value="Enviar")

script(src="../../public/js/nav.js") 