header 
  .header__izquierdo 
    a(href="/") 
      img(src="../public/img/logo-blanco.png", alt="logo de 2nd Ocean" class="header__img")
  nav.header__derecho 
    .header__desplegable  
      .header__barra-1
      .header__barra-2
      .header__barra-3
    div.header__pag--none
      ul.header__ul 
        li.header__li 
          a.header__a(href="/") Inicio
        li.header__li
          a.header__a(href="/#ultimos-post") Ultimos post
        li.header__li 
          a.header__a(href="/#rs") Redes sociales
        li.header__li
          a.header__a(href="/#publica-con-nosotros") Publica con nosotros
        li.header__li
          a.header__a(href="/#otras-publicaciones") Otras publicaciones
        li.header__li
          a.header__a(href="/#footer") Contactanos
        