doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="theme-color", content="#7517c2")
    link(rel="shortcut icon", href="../public/img/fav.ico", type="image/x-icon")
    title= `${titulo} | 2nd Ocean`
    link(rel="stylesheet", href="../public/css/normalize.css")
    style.
      @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:ital@0;1&display=swap');
    link(rel="stylesheet", href="../public/css/estilos.css")
    link(rel="stylesheet", href="../public/css/header.css")
    link(rel="stylesheet",  href=`../../public/css/footer.css`)
    link(rel="stylesheet", href=`../../public/css/${css}.css`)
    link(rel="stylesheet",  href=`../../public/css/post.css`)
  body 