.post-basico 
  .post__img
  h3.post__titulo Titulo del post
  u.post__autor Nombre del auto 
  p.post__texto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptas facere 
  button.post__boton Ver mas