h1 {
  text-align: center;
}

.franja {
  grid-area: franja;
  width: 100%;
  height: 200px;
  background-image: url(../img/post4.jpg);
  background-size: cover;
}

.center {
  text-align: center;
  font-style: italic;
}


.contenido {
  width: 90%;
  margin: auto;
}