include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 Corto pero eterno
    p Tu mirada,
    p Tu sencilles,
    p Tu hermosura que me desnuda mi piel.
    p Tus labios,
    p Tus manos,
    p Hay algo en ti, que me hace caer en tus brazos.
    p Tu voz,
    p Tu olor,
    p Me hacen querer ser un maldito pecador.
    p Esto te lo dedico desde mi alma, un gran amor que me quita hasta la mas mínima palabra.
    br
    p Mi tacto,
    p Mi respiración,
    p Estas dejando sin pálpitos mi corazón.
    p Acercate,
    p Hablame,
    p Quiero ver tus nervios al tocarme.
    p Sientate,
    p Escucha,
    p Quiero hacer esto, algo inolvidable.
    p Entregate,
    p Aceptame,
    p Hasta que nuestros cuerpos estén bajo tierra eternamente.
    br
    p Si hay una vida despues de la muerte...
    p Querida mia, antes de renacer, bailemos al son de las 5 sinfonías. 
    p Toma mi mano y tu la mia,
    p Besame y hagamos el amor por este ultimo día.
    p Y al renacer, tendremos frangmentos de que fuimos el amor de nuestras vidas.
    p.center Arnaldo prieto (18-07-20).
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 