include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 No te enamores de las personas. 
    p Olvídate del amor a personas y enamórate del arte.
    p Enamórate del arte y nunca te defraudará.
    p Dale todo lo que pide y siempre te dará todo devuelta.
    p Incluso más.
    p Enamórate del dolor y el dolor te dará las satisfacciones más grandes de tu vida.
    p Enamórate de tu sudor y él te quitará las lágrimas de los ojos.
    p Enamórate de las caídas y ellas te enseñarán a brillar.
    p Enamórate del arte, pues cuando te rompa el corazón, siempre volverá a arreglarlo con otra canción, con otro triunfo.
    p Entrega tu alma a ese ritual con el escenario que te llevará al lugar donde siempre soñaste estar.
    p Entrega tu cuerpo al vestuario que lo envolverá con las más hermosas telas.
    p Serás princesa, campesina, prostituta o soldado.
    p Lo que quieras. Lo que el arte quiera.
    p Y siempre será un buen papel.
    p Con el arte  llorarás, reirás, desafiarás, perdonarás y amarás de maneras que nunca creíste posibles.
    p ¿Y lo mejor de todo? Sabrás exactamente qué esperar.
    p Porque, te repito, tanto como des te será regresado.
    p Deja que la inspiración se apodere de ti, que la emoción te fluya como la sangre, que el dolor te abrigue con su calor, que la pasión extienda y arda con sus alas de fénix renovadas cada vez.
    p Ama al arte como una polilla la luz, y no necesitarás nada más.
    p.center Chessire
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 