include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 Bajo la ducha 
    p Me bañaba en ese momento, cuando se me ocurrió.
    p ¿Por qué las personas se desahogan tan fácilmente conmigo? ¿Qué sentirán cuando me hablan de eso que no hablan con más nadie?
    p Estuve pensando...
    p ¿Qué hago yo para que se sientan, cómodas, bienvenidas, en casa?
    p Y una vocecita preciosa me respondió: Eres todo lo que deseas en otra persona.
    p Me impacté al chocar con ese muro de realidad. Ella puede ser terrible, pero también puede ser increíble. 
    p Ella siguió hablándome:
    p «Eres todo lo que deseas, así que atraes a quienes desean a alguien como tú. Fiel a ti, intentas no dejar que los comentarios de otros distorsionen tu visión. Brutalmente sarcástica, te bajas de las nubes; pero fantásticamente honesta, te subes hasta Saturno y al infinito, porque ese es tu lugar. Taciturna, soñadora y nefelibata, destapas la cortina del paraíso en la tierra, porque sabes que es aquí donde realmente se encuentra y no quieres verlo sola, porque lo bueno se comparte. A tu malvado ser interno, le das rienda suelta cuando sabes que tiene razón, bajo el cuidado de tus ángeles, quienes le darán control cuando sea necesario...».
    p «Mi amor», me dijo ella, «eres tanto como nadie podría desear, un milagro andante y sonriente. Con el encanto de un gato besado por el sol y casado con un colibrí. Maúllas cuando tienes que quejarte, brillas porque quieres iluminar aquellos que otros te dejaron a oscuras y vuelas de flor en flor buscando siempre lo mejor de ellas: el néctar. Y ese, mi todo, ese es tu superpoder. Uno que nadie tiene».
    p Dicho eso, me besó el punto entre la base del cuello y la espalda, y desapareció.
    p A día de hoy siempre recuerdo sus palabras.
    p La verdad sí es dolorosa. Y debajo de ese dolor, es reconfortante. Siempre y cuando obres de acuerdo a la esencia natural y bondadosa de la vida.
    br
    p.center Chessire
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 
script(src="../../public/js/post-fin.js") 