include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 Sácame de la incertidumbre
    p Sólo dímelo, dime que ya no me quieres. Dime que la quieres a ella, dime que no quieres a ninguna. Pero por favor, ¡por favor!, no me digas que nos quieres a ambas, que me quieres a mí siquiera. Porque sé que no es verdad. Si fuera verdad, eso no habría ocurrido. No lo habrías permitido. Y yo... Yo no quiero pensar ahora en lo que habría sido, a lo que habríamos llegado. Ojalá me lo hubieses dicho...
    p Ojalá me hubieses dicho que yo no te complacía, ojalá no me hubieses dicho tantas cosas bonitas, ojalá no hubiese hablado con tu mejor amigo diciendo que yo valía la pena, si no ibas a darme la oportunidad. Ojalá, ojalá...
    p Por favor, no me lastimes más, te lo suplico. Dímelo ahora y me marcharé sin rencores. Dímelo. Grítalo si lo deseas. A ver si te lo crees tú también. Porque sé que en algún lado te duelo. O eso quiero creer. Como sea, sólo quiero escucharte decirlo, porque así se acabará para mí como ya se acabó para ti.
    p Pero no vas a decírmelo, ¿cierto? Me vas a dejar con este dolor entre las costillas, con esta presión en los pulmones, con este retumbar entre mis oídos. Con este suspenso en lo historia perfecta. Porque eres así, me vas a decir. Porque me quieres pero no eres para mí, tratarás de consolarme. No funcionará. Lo único que quiero es que me dejes sin dudas y tú no queires hacer eso. Quieres llamarme y que vuelva como antes...
    p Cariño, yo ya no puedo, quiero superarte. Hiciste bonito un periodo de mi cuento, hiciste promesas que cumpliste, otras que no. Y siempre recordaré que estuviste ahí para "que eso me pase". Te dedicaré mis versos en las noches cuando mi corazón quería anhelarte, pero no más. No te daré ya un minuto más. Te quise. Sé feliz. Adiós.
    p.center Chessire
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 
script(src="../../public/js/post-fin.js") 