include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 Si tu boca fuera fuego
    p No es secreto que ya no pueda respirar 
    p Que cada palabra tenga un punto y final.
    p Que asi como las hojas nacen, vuelven a caer 
    p Las horas pasan, pasan y nada sede 
    p Y cada momento que pasa, yo recuerdo.
    br
    p Que si tu boca fuera fuego, ardería por el resto de mis días.
    p Si tus ojos fueran el cielo, lloraría al ver tanta hermosura a plena vista.
    p Y si, todo eso eres y mas, no hay que negarlo
    p Tampoco hay que negar, que tienes a un loco poeta enamorado. 
    br
    p ¿Sigue habiendo un espacio en tu cama? 
    p Es que quiero dormir otra vez en tus pensamientos 
    p Y se que es un poco tonto lo que estoy diciendo 
    p Pero se que a lo lejos puedo aun demostrar que te quiero. 
    p Un paisaje mas es lo que pienso cuando sonries
    p Un atardecer mas es lo que veo cuando te desnudas 
    p Si te lo preguntas, te vería siempre con hermosa locura. 
    br
    p No es un secreto que aun mire hacia atrás 
    p Que cada beso tiene un punto y seguido 
    p Que así como las hojas nacen, vuelven a caer 
    p Las horas pasan, pasan y nada sede 
    p Y cada momento que pasa, yo recuerdo 
    br 
    p Que si tu boca fuera fuego, ardería por el resto de mis días.
    p Si tus ojos fueran el cielo, lloraría al ver tanta hermosura a plena vista.
    p Si tus manos fueran la galaxia, me perdería en ellas
    p Si tu cuerpo fuera una constelación, te admiraría de aquí hasta el mas alla.
    p Y si, todo eso eres y mas 
    p Asi que te invito a cantar. 


    p.center Arnaldo prieto. (05-06-20) 
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 