include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 We can't live forever
    p No estoy libre de la muerte, ni tampoco del caos dentro de mi corazón.
    p Creo tener la elección de irme cuando quiera, pero me quedo contigo.
    p Tengo algo quebrado dentro de mi y estoy tratando de no rendirme. Asi que, quedate, sí, quedate y haz latir mi corazón.
    br
    p (Uhh-Uhh-Uh)
    p No podemos vivir por siempre, pero se que nuestro amor jamas morirá.
    p Si te vas, ¿puede mi alma besar la tuya?
    p ¿dejaras que sea tu compañía en la soledad?
    p (Uhh-Uhh-Uh)
    p No podemos vivir por siempre.
    br
    p Entonces, si sudece de la manera que no quiero, esperame para bailar sobre el fuego del infierno mi amor.
    p No le temo a la oscuridad, pero temo a dejarte sola en ella. 
    br 
    p (Uhh-Uhh-Uh)
    p No podemos vivir por siempre, pero se que nuestro amor jamas morirá.
    p Si me voy, ¿puedes tomar mi mano y mostrarme la luz de la luna?
    p ¿podrías ser mis ojos en la oscuridad?
    p (Uhh-Uhh-Uh)
    p no podemos vivir por siempre.
    br
    p Tengo algo quebrado dentro de mi y estoy tratando de no rendirme. Asi que, quedate, sí, quedate y haz latir mi corazón.
    p Quedate, si, quedate y haz latir mi corazón.
    br
    p.center Arnaldo Prieto
    

include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 
script(src="../../public/js/post-fin.js") 