include ../includes/head.pug
include ../includes/header.pug
main 
  .franja
  .contenido
    h1 Amor fugaz 
    p Veamos hacía atras, lo que una vez hicimos mal. 
    p Todo aquello que se contribuyó con este amor... Con este amor fugaz.
    br
    p Ayer y hoy sólo se cumplieron horas, pero, si son sólo horas, por qué mi corazón te añora de esta manera tan tenebrosa? 
    p Tú mano tocó mis pensamientos, 
    p Tus besos llamaron al deseo, 
    p Tus ojos encendieron el destello de aquello que fue frío al comienzo y que al terminar se convirtio en fuego. 
    br
    p El vacío volvió al lugar donde una vez yo exilié, El miedo se apoderó de todo aquello que alguna vez fue valiente
    p Mis manos golpearon la pared al no sostenerte, al dejar pasar la noche para perderte.
    p Que tonto es el ser humano que deja ir lo que se quiere para siempre, 
    p Por besos mentirosos,
    p Por momentos sin amar,
    p Por miradas sin abrigar al corazón, 
    p Por un amor fugaz. 
    br
    p Veamos hacía adelante, un futuro lleno de paz y elegancia para ti.
    p Yo quede atrás como una piedra, pero me hace feliz recordar los poemas que alguna vez te leí.
    p Hoy solo hay recuerdos sombríos de todo aquello que se construyó con este amor... Con este amor fugaz. 
    br
    p.center Arnaldo prieto (28-11-19)
include ../includes/footer.pug
script(src="../../public/js/ultimos-post.js") 
script(src="../../public/js/post-fin.js") 